body {
  font-family: Arial, sans-serif;
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("../images/money.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.login-form {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 1;
  position: relative;
}

.login-form h1 {
  display: flex;
  align-items: center;
  color: #4cae4c;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.input {
  width: 95%;
  padding: 10px;
  border: 1px solid #4cae4c;
  border-radius: 4px;
  font-size: 18px;
  color: black;
  background: none;
}

.label {
  margin-bottom: 5px;
  position: absolute;
  left: 15px;
  top: 0;
  color: rgba(0, 0, 0, 0.705);
  font-size: 18px;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(50%);
}

.input:focus,
.input:valid {
  outline: none;
  border: 1px solid #4cae4c;
}

.input:focus ~ .label,
.input:valid ~ .label {
  transform: translateX(-10%) translateY(-50%) scale(0.8);
  background-color: #f4f4f4;
  padding: 0 0.2em;
  color: #4cae4c;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

button:hover {
  background-color: #4cae4c;
}

.form-frase {
  display: flex;
  align-items: center;
}

.form-frase p {
  margin-right: 10px;
}

.form-frase a {
  text-decoration: none;
  color: green;
}

.home {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .login-form {
    width: 80%;
    padding: 15px;
  }

  .input {
    font-size: 16px;
  }

  button {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .login-form {
    width: 90%;
    padding: 10px;
  }

  .input {
    font-size: 14px;
    padding: 8px;
  }

  button {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .login-form {
    width: 95%;
    padding: 10px;
  }

  .input {
    font-size: 12px;
    padding: 6px;
  }

  button {
    font-size: 16px;
    padding: 8px;
  }

  .form-frase {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-frase p {
    margin: 0;
    margin-bottom: 5px;
  }
}
